/* https://fonts.google.com/specimen/Kaushan+Script?query=kaushan */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* https://uigradients.com/#NeonLife OR https://dionnenoellabarretto.github.io/RandomHexCodeColorGradientSelector/ */
body{
    background-image: linear-gradient( to right bottom, #69f09f,#3794f1);
    /* to prevent the body runover */
    background-attachment: fixed;

}

/* Sidebar Component Section */
.sidebar{
    background-color: rgb(202, 200, 200);
    height: 100%;
    border-radius: 20px;
    padding: 15px 8px;
    box-shadow: 0 0 15px black;
    text-align: center;

}

.mainComponent {
    background-color: rgb(202, 200, 200);
    border-radius: 20px;
    padding: 10px 8px;
    box-shadow: 0 0 15px rgb(15, 15, 15);
}

.row{
/* for full height for the sidebar/mainComponent sections */
height: 90vh;
}

.container{
    padding: 50px;
}

/* styling sidebar elements */

.sidebar_Img{
   height: 250px;
   width: 190px;
   /* to maintain aspect ratio */
   object-fit: contain;
   border: 30px; 
}
.sidebar_Img:hover{
    transform: scale(1.1);
    border: 30px; 
    transition: all 0.5s ease;
 }

.sidebar_icon {
    width: 25px;
    height: 25px;
    margin:3px;
    padding: 5px;
}
.sidebar_icon:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(2.0);
    border:rgb(34, 34, 34) 0.2px dashed;
}


.sidebar_company{
    height: 40px;
   width: 70px;
   object-fit: contain;
   border: 30px;
}
.sidebar_resume{
    background-image: linear-gradient( to right bottom, #3794f1,#69f09f);
    border-radius: 20px;
}
.sidebar_resume:hover{
    transform: scale(1.1);
    /* https://css-tricks.com/almanac/properties/t/transition/ */
    transition: all 0.5s ease;
}

.sidebar_company:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
}

.sidebar_name, .sidebar_ppt{
    font-family: 'Kaushan Script', cursive;
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar_name>span {
color: #3794f1;
}

.sidebar_item {
    margin-bottom: 6px;
    padding-top: 6px;
}

.sidebar_title{
background-color: rgb(161, 159, 159);
border-radius: 15px;
}

a{
    text-decoration:none ;
    color: #3794f1;
}

a:hover{
    color: rgb(26, 13, 216);
    
}
a:visited{
    color: rgb(6, 77, 29);
}

/* spacing out the div using margin top/ bottom for the 2 component div's! */
@media(max-width:972px){
    .mainComponent{
        margin: 30px 0;
    
    }
}
/* Main Component Section Styling */
/*  Nav Bar Section */

.navbar-menu{
display: flex;
}
.navbar_active{
font-size: 2.4rem;
font-weight: 700;
color: #0967c5;
border-bottom: 4px solid #3794f1;
}
.navbar-menu-item{
margin-right: 20px;
text-decoration: none;
color: #3e3e3f;
font-size: 1.3rem;
font-weight: bolder;
}

.navbar-menu-item:hover{
    background-clip: text;
    background: -webkit-linear-gradient(#21f074,#127eeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}