/* https://fonts.google.com/specimen/Kaushan+Script?query=kaushan */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* https://uigradients.com/#NeonLife OR https://dionnenoellabarretto.github.io/RandomHexCodeColorGradientSelector/ */
body{
    background-image: linear-gradient( to right bottom, #00F260,#0575E6);
    /* to prevent the body runover */
    background-attachment: fixed;

}
.sidebar{
    background-color: rgb(180, 179, 179);
    height: 100%;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 15px black;
    text-align: center;

}

.mainComponent {
    background-color:rgb(180, 179, 179); 
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 15px black;
}

.row{
/* for full height for the sidebar/mainComponent sections */
height: 90vh;
}

.container{
    padding: 50px;
}

/* styling sidebar elements */

.sidebar_Img{
   height: 250px;
   width: 190px;
   /* to maintain aspect ratio */
   object-fit: contain;
   border: 30px; 
}

.sidebar_icon {
    width: 25px;
    height: 25px;
}


.sidebar_company{
    height: 40px;
   width: 70px;
   object-fit: contain;
   border: 30px;
}

.sidebar_name{
    font-family: 'Kaushan Script', cursive;
    margin: 20px 0;
}

.sidebar_name>span {
color: #0575E6;
}

.sidebar_item {
    margin-bottom: 6px;
    padding-top: 6px;
}