@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

/* https://uigradients.com/#NeonLife OR https://dionnenoellabarretto.github.io/RandomHexCodeColorGradientSelector/ */
body{
    background-image: linear-gradient( to right bottom, #00F260,#0575E6);
    /* to prevent the body runover */
    background-attachment: fixed;

}
.sidebar{
    background-color: rgb(228, 226, 226);
    height: 100%;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 15px black;
    text-align: center;

}

.mainComponent {
    background-color:rgb(228, 226, 226); 
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 15px black;
}

.row{
/* for full height for the sidebar/mainComponent sections */
height: 90vh;
}

.container{
    padding: 50px;
}

/* styling sidebar elements */

.sidebar_Img{
   height: 110px;
   width: 120px;
   object-fit: contain;
   border: 30px; 
}

.sidebar_icon {
    width: 25px;
    height: 25px;
}
